<% if !@errors.nil? %>
  <%= @errors %>
<% end %>



<div class="container">
  <h1>Welcome to 'BLOGNAME'</h1>
  <% if !@message.nil? %>
    <b><%= @message %></b><br>
  <% end %>
  <h2><a href= "/post/new">new post</a></h2>
  <section>
    <% @all_posts.each do |post| %>
    <p>
      <a href= "/post/<%= post.id %>"><%=post.title %></a><br><br>
      <%= post.blog %><br><br>
      <%=post.created_at %><br>
      <span style= "color:blue">Tags:</span>
      <%post.tags.each do |tag| %>
        <a href= "/tag/<%= tag.name %>"><%= tag.name %></a>
      <%end%>
    </p>
    <% end %>
  </section>
</div>
