<div>
  <% if !@message.nil? %>
    <b><%= @message %></b><br>
  <% end %>
  <%=@post.title%><br><br>
  <%=@post.blog%><br><br>
  <%=@post.created_at%><br><br>
  <%@post.tags.each do |tag|%>
    <%= tag.name%>
  <%end%><br>
  <form action= "/post/<%= @post.id%>/edit" method= "get">
    <input type= "submit" value= "Edit Post">
  </form>
  <form action= "/post/<%= @post.id%>" method= "post">
    <input name="_method" type="hidden" value="delete">
    <input type= "submit" value= "Delete Post">
  </form>
  <a href= "/"><b>Main</b></a>
</div>