

<div class= 'container'>
	<h2>Posts for '<%= @tag.name %>'</h2>
	<% @all_post.each do |post| %>
	<a href= "/post/show/<%=post.id%>"><%=post.title %></a> <br><br>
	<%= post.blog %> <br><br>
	<%= post.created_at %> <br><br>
	<% end %>
	<a href= "/"><b>Main</b></a>
</div>
